@model Askify.Models.User
@{
    ViewBag.Title = "Index | Askify";
}
<div class="jumbotron top_mrgn">
    <h1>Welcome to <img src="~/Content/images/logo3.png"></h1>
    <br /><p>Askify is a question and answer site for professional and enthusiast programmers. It's 100% free, register yourself now. </p>
    <p><button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#login_modal">Login</button> <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#reg_modal">Register</button></p>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            Anybody can ask a question!
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            Anybody can answer!
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            The best answers are voted up!
        </div>
    </div>
  </div>
</div>



